body{
    background-color: rgb(0, 150, 250);
    
}

#pic{
    height: 50%;
    width: 45%;
 display: grid;
margin-top: -500px;
    border-radius: 50px;
    margin-left: 500px;
   
}
h3{
    background-color: rgb(0, 68, 255);
    color: rgb(10, 10, 0);
}
h1{
    color:  rgb(2, 2, 0);
    background-color: rgb(0, 4, 255);
}
.begin{
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.p{
    background-color: rgba(24, 8, 241, 0.979);
    color: rgb(0, 38, 255);
}
#size{
    background-color: rgb(4, 0, 255);
    color: rgb(3, 3, 0);
    width: 40%;
}
#top{
    background-color: rgba(40, 2, 255, 0.932);
    color: rgb(0, 0, 0);
    width: 40%;
}
.con{
    background-color: rgb(32, 16, 247);
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-style: italic;
    height: 100px;
}
button{
    background-color: rgb(17, 0, 255);
    color: rgb(0, 0, 0);
}
form{
    color: rgb(0, 0, 0);
}
i{
    color: rgb(29, 29, 1);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}