*{
    margin: 5px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: gray;
    padding: 2em 0 2em 0;
}

main{
    background-color: gray;
    padding: 2em 0 2em 0;
}

footer{
    background-color: gray;
    padding: 2em 0 2em 0;
}